*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; /*Позволит задавать ссылкам-кнопкам padding и margin*/
}

img {
  max-width: 100%;
  height: auto;
  display: block; /*Убирает дефолтный отступ снизу у картинок*/
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}