/* Добавляем явное перечисление базовых тегов, чтобы дать им силу в 1 балл */
*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia", serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-weight: inherit;
}

h1 {
  font-size: 44px;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 35px;
  letter-spacing: 0.06em;
}

ul,
ol {
  list-style: none;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; /*Позволит задавать ссылкам-кнопкам padding и margin*/
}

img {
  max-width: 100%;
  height: auto;
  display: block; /*Убирает дефолтный отступ снизу у картинок*/
}

address {
  font-style: normal;
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

/*@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}*/

/*header*/
.header__container {
  background-image: url("img/start-screen-gradient-background.svg");
  background-size: cover;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 90px;
}

.header__logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__logo-title {
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.header__logo-subtitle {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-left: 4px;
}

.header__nav {
  color: #cdcdcd;
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 35px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0;
  font-family: "Arial", sans-serif;
}

.header__nav-item:first-child {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

/*hero section in header*/
.hero__container {
  display: flex;
  gap: 42px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 163px;
}

.hero__heading {
  line-height: 1.3;
  letter-spacing: 0;
  color: #ffffff;
}

.hero__subheading {
  color: #cdcdcd;
}

.hero__btn {
  color: #292929;
  background-color: #f1cdb3;
  align-self: flex-start;
  padding: 15px 45px;
}

/*about section*/
.about__container {
  display: flex;
  gap: 120px;
  justify-content: center;
  padding: 80px 40px 100px 40px;
}

.about__img {
  width: 300px;
  height: 408px;
  object-fit: cover;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 14px;
  max-width: 430px;
}

.about__heading {
  color: #545454;
}

.about__paragraph {
  font-size: 15x;
  line-height: 1.6;
  letter-spacing: 0;
  color: #4c4c4c;
}

/*pets section*/
.pets__container {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 80px 40px 101px 40px;
}

.pets__heading {
  text-align: center;
  color: #545454;
}

.pets__slider {
  display: flex;
  align-items: center;
}

.pet-card {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  background-color: #fafafa;
  min-width: 270px;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 9px;
  padding-bottom: 30px;
}

.pet-card__name {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.pet-card__btn {
  color: #292929;
  border: 2px solid #f1cdb3;
  padding: 15px 43px;
  height: 52px;
  display: flex;
  align-items: center;
}

.pets__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.pets__arrow--left {
  background-image: url("img/arrow-left.svg");
  margin-right: 8px;
}

.pets__arrow--right {
  background-image: url("img/arrow-right.svg");
  margin-left: 8px;
}

.pets__btn {
  color: #292929;
  background-color: #f1cdb3;
  padding: 15px 45px;
  line-height: 22px;
}

/*help section*/
.help__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 80px 40px 100px 40px;
}

.help__heading {
  text-align: center;
  line-height: 1.28;
}

.help__list {
  display: flex;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
}

.help__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.help__img {
  width: 60px;
  height: 60px;
}

.help__item-name {
  color: #545454;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

/*donation section*/
.donation__container {
  display: flex;
  gap: 30px;
  padding: 80px 182px 100px 183px;
  background-color: #f6f6f6;
}

.donation__img {
  width: 505px;
  height: 261px;
  object-fit: cover;
  margin-top: 11px;
}

.donation__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation__heading {
  color: #545454;
}

.donation__paragraph-top {
  color: #545454;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  font-family: "Georgia", serif;
}

.donation__paragraph-middle {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
  color: #545454;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  font-family: "Georgia", serif;
  width: max-content;
}

.donation__card {
  display: inline-block;
}

.donation__paragraph-bottom {
  color: #b2b2b2;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  font-style: italic;
}

/*footer*/
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding: 40px 40px 0px 40px;
  background-image: url("img/start-screen-gradient-background.svg");
  background-size: cover;
}

.footer__info {
  display: flex;
  gap: 160px;
  padding-top: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__title {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.footer__title-2 {
  padding-bottom: 2px;
}

.footer__addresses {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 279px;
  color: #f1cdb3;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

.footer__item-single {
  line-height: 32px;
}

.footer__ico {
  display: inline-block;
}

.footer__puppy {
  width: 300px;
  height: 310px;
  object-fit: cover;
}
